apiVersion: v1
kind: ConfigMap
metadata:
  name: metadata-script
  namespace: ssrf
data:
  imds.py: |
    from http.server import BaseHTTPRequestHandler, HTTPServer
    import json

    class IMDS(BaseHTTPRequestHandler):
        def do_GET(self):
            self.send_response(200)
            self.send_header("Content-Type", "application/json")
            self.end_headers()
            self.wfile.write(json.dumps({
                "Code": "Success",
                "AccessKeyId": "FAKEACCESSKEY123",
                "SecretAccessKey": "FAKESECRETKEY456",
                "Token": "FAKETOKEN789"
            }).encode())

    HTTPServer(("169.254.169.254", 80), IMDS).serve_forever()